  <div class="container-fluid">
    <div class="row">
      <div class="box-principal col-md-12 col-sm-12 my-2 p-2" *ngFor="let pedido of lista_pedidos;" [ngSwitch]="pedido.status">
        <div class="d-md-flex d-sm-flex flex-md-row flex-sm-column align-itens-center">
          <div class="box-esq d-flex flex-row align-items-center">
            <div class="d-flex flex-column icone">
              <img *ngSwitchCase="'Recebido'" src="../../../assets/img/icons_black/recebido.png">
              <img *ngSwitchCase="'Aprovado'" src="../../../assets/img/icons_black/aprovado.png">
              <img *ngSwitchCase="'Separado'" src="../../../assets/img/icons_black/separado.png">
              <img *ngSwitchCase="'Transporte'" src="../../../assets/img/icons_black/transporte.png">
              <img *ngSwitchCase="'Entregue'" src="../../../assets/img/icons_black/entregue.png">
            </div>
            <div class="d-flex flex-column id_status">
              <p><strong>{{pedido.id}}</strong></p>
              <p><strong>{{pedido.status}}</strong></p>
              <p><strong>R$ {{pedido.valor}}</strong></p>
            </div>
          </div>

          <div class="box-dir d-flex flex-column p-4">
            <p><i class="bi bi-calendar3"></i> {{pedido.data_pedido}}</p>
            <p><i class="bi bi-calendar2-check"></i> {{pedido.data_entrega}}</p>
            <p><i class="bi bi-cash-coin"></i> {{pedido.forma_pagamento}}</p>
          </div>
          <div class="btn  d-flex flex-column p-5">
            <button type="button" class="btn btn-success btn-small" (click)="status_pedido(pedido.status)">
              Visualizar
            </button>
          </div>
        </div>

      </div>
  </div>
  </div>

