.box-principal{
  border: 1px solid #E4E8EB;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.container-fluid{
  margin-left: 60px;
  width: 75%;
}
.row{
  padding-left: 15px;
}

.box-esq{
  width: 150px;
  text-align: center;
}

.box-dir{
  overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
  width: 200px;;
}

p{
  margin-bottom: 0;
  justify-content: center;
  color: #747474;
  font-size: 14px;
}

.icone{
  margin-left: 10px;
  width: 30px;
}

.id_status{
  padding-left: 10px;
}
