.box{
border: 1px solid #E4E8EB;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
padding-bottom: 10px;
}

#search{
  padding-right: 15px;
}

form{
  margin-left: 80px;
}

.etapas_ped{
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  color: #747474;
}
