<app-menu></app-menu>
<div class="container-fluid">
  <div class="box">
   <div class="box-interno">
      <h1>PEDIDOS</h1>
      <form class="form-inline active-cyan-2">
        <input [(ngModel)]="idBuscado" name="idBuscado" class="form-control form-control-xs mr-3 w-75" type="text" placeholder="Busque por pedido" aria-label="Buscar Pedidos">
        <a (click)="getPedidoById()" uk-icon="icon: search" id="search"></a>
      </form>
       <app-card [lista_pedidos] = "peds"></app-card>
       <!--<ng-container *ngIf="ped">
         {{idBuscado}}
        <app-card [lista_pedidos] = "idBuscado"></app-card>
       </ng-container>-->
    </div>
  </div>
</div>

