<div class="container-fluid">
  <app-menu></app-menu>
  <div class="row">
      <div class="mx-auto column-2">
          <span>Pedido: <strong>9CV257</strong></span>
          Orc: <strong>845247</strong>
      </div>
  </div>
  <h1>PEDIDO APROVADO</h1>

  <div class="bar-progress d-flex flex-row justify-content-start">
    <div class="bar-etapas d-flex flex-row">
    </div>
  </div>

  <div class="etapa_pedido d-flex flex-row justify-content-center">
    <div class="etapas">
      <img src="./assets/img/recebido.png" [ngClass]="value >= 0 ? 'delay' : ''" class="circle">
      <p [ngClass]="value >= 0 ? 'animate__animated animate__lightSpeedInLeft animate__delay-0.5s' : ''" >PEDIDO<br>RECEBIDO<br>05/08</p>
    </div>
    <div class="etapas">
      <img src="./assets/img/aprovado.png" [ngClass]="value >= 20 ? 'delay-2' : ''" class="circle">
      <p [ngClass]="value >= 20 ? 'animate__animated animate__lightSpeedInLeft animate__delay-2s' : ''">PROCESSANDO<br>PEDIDO<br>05/08</p>
    </div>

    <div class="etapas">
      <img src="./assets/img/sincronizar.png" [ngClass]="value > 40 ? 'animation_etapa' : ''" class="circle">
      <p class="animate__animated animate__lightSpeedInLeft animate__delay-4s" id="proxima_etapa">SEPARANDO<br>PEDIDO</p>
    </div>
    <div class="etapas px-2">
      <img src="./assets/img/sincronizar.png" [ngClass]="value > 60 ? 'animation_etapa' : ''" class="circle">
    </div>
    <div class="etapas">
      <img src="./assets/img/sincronizar.png" [ngClass]="value >= 80 ? 'animation_etapa' : ''" class="circle">
    </div>
  </div>
  <div class="alert alert-light" role="alert">
    <p>Processamos seu pedido e logo iniciaremos a separação.</p>
  </div>
  <app-dados-pedido></app-dados-pedido>
</div>
