
.bar-etapas{
  height: 5px;

  animation: animation_etapas 3.5s forwards ;
  position: relative;
  animation-delay: 1s;
}

h1{
  font-weight: bold;
}

p{
  text-align: center;
}


@keyframes animation_etapas {
  from {width: 0px;}
  to {
    width: 40%;
    background-color: #519251;
  }
}

.delay{
  animation: animation-circulo 3s forwards;
}

.delay-2{
  /*animation-delay: 3s;*/
  animation: animation-circulo 1.5s forwards 2s;
}
