.box{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.conteudo{
  margin: 0 auto;
  width: 400px;
  border: 1px solid #E4E8EB;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  position: relative;
  top: 10px;
}
