<div class="container-fluid">
  <div class="box">
    <div class="conteudo">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Login</label>
            <input type="email" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Email é obrigatório</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Senha é obrigatória</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
