.dados{
    margin-top: 20px;
    padding-bottom: 15px;
    font-size: 13px;
}

button{
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-bottom: 10px;
  top: 5px;
}

.esq{
    display: flex;
    flex-direction: column;
    position: relative;
    width:300px;
}

.dir{
  display: flex;
  flex-direction: column;
  position: relative;
  width:300px;
  align-items:baseline
}

.row{
  justify-content: center;
  border: 1px solid #E4E8EB;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

p{
  text-align: left;
  font-size: 16px;
}

