<div class="container-fluid">
    <div class="row">
      <div class="esq p-2 ">
        <div class="dados">
          <p>Previsão de Entrega<br>
          <strong>{{data_entrega}}</strong></p>

          <p>Valor Total<br>
          <strong>R$ {{valor_total}}</strong></p>

          <p>Endereço de Entrega<br>
          <strong>{{end_entrega}}</strong></p>

          <p>Forma de Pagamento<br>
          <strong>{{forma_pagamento}}</strong></p>
        </div>
      </div>

      <div class="dir p-2">
        <div class="dados">
          <p>Total em Descontos<br>
            <strong>R$ {{total_descontos}}</strong></p>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button class="btn btn-success" (click)="openModalItens('')">VER ÍTENS DO PEDIDO</button><br>
      <button class="btn btn-secondary" (click)="openModalNotaFiscal('')">GERANDO NF</button><br>
    </div>

</div>
