<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
      <div class="mx-auto column-2">
          <span>Pedido: <strong>9CV260</strong></span>
          Orc: <strong>845247</strong>
      </div>
    </div>
      <h1>PEDIDO RECEBIDO</h1>

      <div class="bar-progress d-flex flex-row justify-content-start">
        <div class="bar-etapas d-flex flex-row">
        </div>
      </div>

      <div class="etapa_pedido d-flex flex-row justify-content-center">
        <div class="etapas">
          <img src="./assets/img/recebido.png" [ngClass]="value >= 0 ? 'delay' : ''" class="circle">
          <p [ngClass]="value >= 0 ? 'animate__animated animate__lightSpeedInLeft animate__delay-0.5s' : ''" >PEDIDO<br>RECEBIDO<br>05/08</p>
        </div>
        <div class="etapas">
          <img src="./assets/img/sincronizar.png" class="circle">
          <p id="proxima_etapa" [ngClass]="value >= 20 ? 'animate__animated animate__lightSpeedInLeft animate__delay-2s' : ''">PROCESSANDO</p>
        </div>

        <div class="etapas">
          <img src="./assets/img/sincronizar.png" class="circle" [ngClass]="value > 40 ? 'animation_etapa' : ''">
        </div>
        <div class="etapas px-2">
          <img src="./assets/img/sincronizar.png" class="circle" [ngClass]="value > 60 ? 'animation_etapa' : ''">
        </div>
        <div class="etapas">
          <img src="./assets/img/sincronizar.png" class="circle" [ngClass]="value > 80 ? 'animation_etapa' : ''">
        </div>
      </div>
      <div class="alert alert-light" role="alert">
          <p>Recebemos o seu pedido e estamos processando o pagamento.</p>
      </div>
      <app-dados-pedido></app-dados-pedido>
</div>

