.bar-etapas{
  height: 5px;

  animation: animation_etapas 1s forwards ;
  position: relative;
  animation-delay: 1s;
}

h1{
  font-weight: bold;
}

@keyframes animation_etapas {
  from {width: 0px;}
  to {
    width: 15%;
    background-color: #519251;
  }
}

.delay{
  animation: animation-circulo 3s forwards;
}

p{
  text-align: center;
}
