.desc{
    margin-top: 15px;
    font-size: 18px;
}

h1{
  font-weight: bold;
}

.bar-etapas{
  height: 5px;

  animation: animation_etapas 6s forwards ; /*Animação da barra de progresso*/
  position: relative;
  animation-delay: 1s;
}

@keyframes animation_etapas {
  from {width: 0px;}
  to {
    width: 80%;
    background-color: #519251;
  }
}

.delay{
  animation: animation-circulo 3s forwards;
}

.delay-2{
  animation: animation-circulo 1.5s forwards 2s;
}

.delay-3{
  animation: animation-circulo 1.5s forwards 3s;
}

p{
  text-align: center;
}

