
<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
      <div class="mx-auto column-2">
          <span id="pedido">Pedido: <strong>9CV261</strong></span>
          Orc: <strong>845247</strong>
      </div>
    </div>
      <h1>PEDIDO SEPARADO</h1>

      <div class="bar-progress d-flex flex-row justify-content-start">
        <div class="bar-etapas d-flex flex-row">
        </div>
      </div>

      <div class="etapa_pedido d-flex flex-row justify-content-center">
        <div class="etapas">
          <img src="./assets/img/recebido.png" [ngClass]="value >= 0 ? 'delay' : ''" class="circle">
          <p [ngClass]="value >= 0 ? 'animate__animated animate__lightSpeedInLeft animate__delay-0.5s' : ''" >PEDIDO<br>RECEBIDO<br>05/08</p>
        </div>
        <div class="etapas">
          <img src="./assets/img/aprovado.png" [ngClass]="value >= 20 ? 'delay-2' : ''" class="circle">
          <p [ngClass]="value >= 20 ? 'animate__animated animate__lightSpeedInLeft animate__delay-2s' : ''">PEDIDO<br>APROVADO<br>05/08</p>
        </div>

        <div class="etapas">
          <img src="./assets/img/separado.png" [ngClass]="value > 40 ? 'delay-3' : ''" class="circle">
          <p class="animate__animated animate__lightSpeedInLeft animate__delay-3s">PEDIDO<br>SEPARADO<br>05/08</p>
        </div>
        <div class="etapas px-2">
          <img src="./assets/img/sincronizar.png" [ngClass]="value > 60 ? 'animation_etapa' : ''" class="circle">
          <p class="animate__animated animate__lightSpeedInLeft animate__delay-4s" id="proxima_etapa">AGUARDANDO<br>TRANSPORTE</p>
        </div>
        <div class="etapas">
          <img src="./assets/img/sincronizar.png" [ngClass]="value > 80 ? 'animation_etapa' : ''" class="circle">
        </div>
      </div>

      <p class="desc">Os ítens do seu pedido foram separados e logo sairá para transporte.</p>
      <div class="alert alert-warning" role="alert">
          <p><span uk-icon="icon: warning"></span> Houve uma alteração no seu pedido e o valor foi atualizado de acordo com o estoque disponível.</p>
          <p><a href="#" class="alert-link">Visualizar Atualização do pedido</a></p>
      </div>
      <app-dados-pedido></app-dados-pedido>
</div>

