
html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; }

h1{
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

h1{
  font-weight: bold;
  color: #747474;
}

.circle {
background-color: rgb(177, 177, 177);
border-radius: 50%;
width: 50px;
height: 50px;
overflow: hidden;
position: relative;
border: 3px solid #DEDEDE;
padding: 5px;
z-index: 2;
}

.circle img {
position: absolute;
bottom: 0;
width: 100%;
}

.etapa_pedido p{
font-size: 9px;
color: #519251;
font-weight: bold;

}

#proxima_etapa{
color: #808080;
}

.etapas{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
width:80px;
max-width:150px;
}

.bar-progress{
  width: 280px;
  height: 5px;
  background: #E4E8EB;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
}

.etapa_pedido{
  margin-left: auto;
  margin-right: auto;
  position: relative;
 /* margin-top: -25px;*/

}

@keyframes animation-circulo  {
  0%  {background-color: #E4E8EB;}
  100%{background-color: #519251;-webkit-transform: rotate(360deg);}
}
