<header>
    <nav class="navbar navbar-expand-lg navbar-light d-flex flex-row" role="menubar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReduzido" aria-controls="navbarReduzido" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarReduzido">
        <div class="navbar-nav">
            <a routerLink="/lista_pedidos">Pedidos</a>
            <a routerLink="/login">Sair</a>
        </div>
      </div>
    </nav>
</header>
