<app-menu></app-menu>

<div class="container-fluid">
    <div class="row">
      <div class="mx-auto column-2">
          <span>Pedido: <strong>9CV259</strong></span>
          Orc: <strong>845247</strong>
      </div>
      </div>
    <h1>PEDIDO ENTREGUE</h1>

    <div class="bar-progress d-flex flex-row justify-content-start">
      <div class="bar-etapas d-flex flex-row">
      </div>
    </div>

  <div class="etapa_pedido d-flex flex-row justify-content-center">
    <div class="etapas">
      <img src="./assets/img/recebido.png" [ngClass]="value >= 0 ? 'delay' : ''" class="circle">
      <p [ngClass]="value >= 0 ? 'animate__animated animate__lightSpeedInLeft' : ''" >PEDIDO<br>RECEBIDO<br>05/08</p>
    </div>
    <div class="etapas">
      <img src="./assets/img/aprovado.png" [ngClass]="value >= 20 ? 'delay-2' : ''" class="circle">
      <p [ngClass]="value >= 20 ? 'animate__animated animate__lightSpeedInLeft animate__delay-1s' : ''">PEDIDO<br>APROVADO<br>05/08</p>
    </div>

    <div class="etapas">
      <img src="./assets/img/separado.png" [ngClass]="value > 40 ? 'delay-3' : ''" class="circle">
      <p class="animate__animated animate__lightSpeedInLeft animate__delay-2s">PEDIDO<br>SEPARADO<br>05/08</p>
    </div>
    <div class="etapas px-2">
      <img src="./assets/img/transporte.png" [ngClass]="value > 60 ? 'delay-4' : ''" class="circle">
      <p class="animate__animated animate__lightSpeedInLeft animate__delay-3s">PEDIDO EM<br>TRANSPORTE<br>06/08</p>
    </div>
    <div class="etapas">
      <img src="./assets/img/entregue.png" [ngClass]="value > 80 ? 'delay-5' : ''" class="circle">
      <p class="animate__animated animate__lightSpeedInLeft animate__delay-4s">PEDIDO<br>ENTREGUE<br>06/08</p>
    </div>
  </div>

  <div class="alert alert-light" role="alert">
      <p>Pedido entregue. Agradecemos por escolher o DAG para abastecer seu estoque.</p>
  </div>
  <app-dados-pedido></app-dados-pedido>
  </div>
