h1{
  font-weight: bold;
}

.bar-etapas{
    height: 5px;

    animation: animation_etapas 4s forwards ; /*tempo Animação da barra de progresso*/
    position: relative;
    animation-delay: 1s;
  }

@keyframes animation_etapas {
  from {width: 0px;}
  to {
    width: 100%; /*tamanho da animação da linha*/
    background-color: #519251;
  }
}

.delay{
  animation: animation-circulo 1s forwards;
}

.delay-2{
  animation: animation-circulo 1s forwards 1s;
}

.delay-3{
  animation: animation-circulo 1s forwards 2s;
}

.delay-4{
  animation: animation-circulo 1s forwards 3s;
}

.delay-5{
  animation: animation-circulo 1s forwards 4s;
}

p{
  text-align: center;
}
